<!DOCTYPE html>
<html>
<head>
    <title>Отправка сообщения в Slack</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(event) {
                event.preventDefault();
                var message = $('input[name="message"]').val();
                if (message) {
                    $.ajax({
                        url: '/',
                        type: 'POST',
                        data: {message: message},
                        success: function(response) {
                        $('#result').text(response.Response);
                        $('#message').text(response.Message);
}

                    });
                }
            });
        });
    </script>
</head>
<body>
    <h1>Отправить сообщение в Slack</h1>
    <form>
        <input type="text" name="message" placeholder="Введите сообщение">
        <input type="submit" value="Отправить">
    </form>
<div id="result"></div>
<div id="message"></div>

</body>
</html>
